/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
.logo{
    width: 180px;
    height: 70px;
}
.margin-bottom{
    margin-bottom: 130px;
}

/* carousel */
.carousel-caption{
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;    
}
.carousel-content{
    height: 100%;
    margin: 0 auto;
    width: 70% !important;
}
.carousel-img{
    height: 80vh;
    filter: brightness(50%);
}


  /* trusted companies */
.company-img{
    width: 9vw;
    height: 5vh;
}